  .login-card-width {
      width: 455px;
  }

  .register-card-width {
      width: 600px;
  }

  .login-div-absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%)
  }

  .div-dotted-background {
      z-index: -1;
  }