-- Updates a schedule category
ALTER PROC [dbo].[ScheduleCategories_Update]
    @CategoryId INT,
    @Name NVARCHAR(50),
    @ColorValue NVARCHAR(50),
    @UserIds NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE dbo.Schedule_Categories
    SET Name = @Name,
        ColorValue = @ColorValue,
        UserIds = @UserIds
    WHERE CategoryId = @CategoryId;
    SELECT * FROM dbo.Schedule_Categories WHERE CategoryId = @CategoryId;
END
