-- Inserts a new schedule category
ALTER PROC [dbo].[ScheduleCategories_Insert]
    @CategoryId INT OUTPUT,
    @Name NVARCHAR(50),
    @ColorValue NVARCHAR(50),
    @UserIds NVARCHAR(MAX) = NULL
AS
BEGIN
    INSERT INTO dbo.Schedule_Categories(Name, ColorValue, UserIds)
    VALUES(@Name, @ColorValue, @UserIds);
    SET @CategoryId = SCOPE_IDENTITY();
    SELECT * FROM dbo.Schedule_Categories WHERE CategoryId = @CategoryId;
END
