/****** Object:  StoredProcedure [dbo].[Users_Select_AuthData]    Script Date: 7/31/2025 7:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[Users_Select_Auth_Data]
	@Email nvarchar(100)
	
AS
/*-- TESTING EXECUTION BLOCK
	DECLARE 
		@Email nvarchar(255) = 'sirmrtyler.business@gmail.com'
	EXEC dbo.Users_Select_AuthData 
		@Email
*/
BEGIN
	DECLARE @UserId int = (SELECT UserId from dbo.Users WHERE Email = @Email)

	SET NOCOUNT ON;

    -- Insert statements for procedure here
        SELECT
                Password,
                UserId,
                RoleId
        FROM    dbo.Users
        WHERE   UserId = @UserId
END