/****** Object:  StoredProcedure [dbo].[Users_SelectById]    Script Date: 8/18/2025 4:51:57 PM ******/
SET ANSI_NULLS ON
GO
ALTER PROC [dbo].[Users_SelectById]
	@UserId int

AS
/*
	DECLARE
		@UserId int = 2
	EXECUTE dbo.Users_SelectById
		@UserId
*/
BEGIN
	SELECT [UserId],
            [FirstName],
            [LastName],
            [Email],
            [DateCreated],
            [LastLoginDate],
            [ProfilePicturePath],
            [IsActive],
            [HoursServed],
            [RoleId],
            [AgencyId]
    FROM [dbo].[Users]

	WHERE UserId = @UserId

END