ALTER PROC [dbo].[CalendarEvents_InsertWithLink]
        @EventId INT OUTPUT,
        @GoogleEventId NVARCHAR(255) = NULL,
        @StartDateTime DATETIME2(7),
        @EndDateTime DATETIME2(7),
        @Title NVARCHAR(255),
        @Description NVARCHAR(MAX) = NULL,
        @Category NVARCHAR(100) = NULL,
        @MeetLink NVARCHAR(255),
        @CreatedBy INT
AS
BEGIN
        INSERT INTO dbo.CalendarEvents (
                GoogleEventId,
                StartDateTime,
                EndDateTime,
                Title,
                Description,
                Category,
                MeetLink,
                CreatedBy,
                CreatedTimestamp)
        VALUES (
                @GoogleEventId,
                @StartDateTime,
                @EndDateTime,
                @Title,
                @Description,
                @Category,
                @MeetLink,
                @CreatedBy,
                SYSDATETIME());
        SET @EventId = SCOPE_IDENTITY();
        SELECT *
        FROM dbo.CalendarEvents
        WHERE EventId = @EventId;
END
