ALTER PROC dbo.CalendarEvents_SelectByDateRange
    @StartDateTime DATETIME2(7),
    @EndDateTime DATETIME2(7)
AS
BEGIN
    SELECT EventId,
		   StartDateTime,
           EndDateTime,
           Title,
           Description,
           Category,
           MeetLink
    FROM dbo.CalendarEvents
    WHERE StartDateTime >= @StartDateTime AND EndDateTime <= @EndDateTime
    ORDER BY StartDateTime;
END
GO