ALTER PROC dbo.CalendarEvents_Update
        @EventId INT,
        @GoogleEventId NVARCHAR(255) = NULL,
        @StartDateTime DATETIME2(7),
        @EndDateTime DATETIME2(7),
        @Title NVARCHAR(255),
        @Description NVARCHAR(MAX) = NULL,
        @Category NVARCHAR(100) = NULL,
        @MeetLink NVARCHAR(255) = NULL
AS
BEGIN
        UPDATE dbo.CalendarEvents
        SET GoogleEventId = @GoogleEventId,
            StartDateTime = @StartDateTime,
            EndDateTime = @EndDateTime,
            Title = @Title,
            Description = @Description,
            Category = @Category,
            MeetLink = @MeetLink
        WHERE EventId = @EventId;
        SELECT *
        FROM dbo.CalendarEvents
        WHERE EventId = @EventId;
END
GO