ALTER PROCEDURE [dbo].[UserTokens_SelectValidByUserId]
    @UserId INT,
    @CurrentDate DATETIME2(7)
AS
/* -- TESTING EXEC BLOCK
	DECLARE
		@UserId INT = 2,
		@CurrentDate DATETIME2(7) = SYSUTCDATETIME();
	EXEC UserTokens_SelectValidByUserId
		@UserId,
		@CurrentDate;
*/
BEGIN
    SELECT TOP 1 *
    FROM UserTokens
    WHERE UserId = @UserId
    AND (ExpiryDate > @CurrentDate OR IsNonExpiring = 1)
    ORDER BY ExpiryDate DESC;
END
