ALTER PROC [dbo].[UserTokens_Insert]
	@UserId INT, 
	@Token NVARCHAR(MAX),
	@DeviceId NVARCHAR(100),
	@ExpiryDate DATETIME2(7),
	@IsNonExpiring BIT
AS
BEGIN
	INSERT INTO dbo.UserTokens
		(UserId,
		Token,
		DeviceId,
		ExpiryDate,
		IsNonExpiring)
	VALUES
		(@UserId,
		@Token,
		@DeviceId,
		@ExpiryDate,
		@IsNonExpiring);
END