ALTER PROCEDURE [dbo].[UserTokens_DeleteOldTokensByUserId]
    @UserId INT

AS
/* -- TESTING EXEC BLOCK
DECLARE 
    @UserId INT = 2,  -- Replace with a valid UserId from your database

EXEC dbo.UserTokens_DeleteOldTokensByUserId 
	@UserId

-- Check results after execution
SELECT * 
FROM UserTokens
WHERE UserId = @UserId;
*/
BEGIN
	DECLARE 
		@CurrentDate DATETIME2(7);
	SET @CurrentDate = SYSUTCDATETIME()

	-- Declare a variable to hold the TokenId for retention.
	DECLARE @TokenToKeep INT;
	
	-- Check for non-expiring token(s)
	SELECT TOP 1 @TokenToKeep = TokenId
	FROM dbo.UserTokens
	WHERE UserId = @UserId
	AND IsNonExpiring = 1;

	-- Identify and save the lastest token by date modified/created.
	IF @TokenToKeep IS NULL
	BEGIN
		SELECT TOP 1 @TokenToKeep = TokenId
		FROM dbo.UserTokens
		WHERE UserId = @UserId
		ORDER BY
			CASE
				WHEN ExpiryDate IS NOT NULL THEN ExpiryDate
				ELSE DateCreated
			END DESC;
	END

	-- Delete all old tokens except @TokenToKeep
    DELETE FROM UserTokens
    WHERE UserId = @UserId
    AND TokenId != @TokenToKeep;

	-- If the token to keep is not non-expiring and is expired, update its expiry date
	IF EXISTS (
		SELECT 1
		FROM UserTokens
		WHERE TokenId = @TokenToKeep
		AND IsNonExpiring = 0
		AND ExpiryDate IS NOT NULL
		AND ExpiryDate < @CurrentDate
	)
	BEGIN
		UPDATE UserTokens
		SET ExpiryDate = DATEADD(WEEK, 2, @CurrentDate)
		WHERE TokenId = @TokenToKeep;
	END
END;
